#companies {
    display: flex;
    justify-content: center;
    padding: 5.5rem 0;
    background-color: #FDFCFC;
    width: 100%;
}

.container-companies {
    min-height: 1064px;
    flex-direction: column;
    justify-content: center;
    gap: 7rem;
}

.companies-text {
    padding: 0 3%;
}

.companies-text h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #292929;
}

.companies-banners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1157,8px;
    width: 100%;
}

.companies-banners > img {
    transition: 0.4s;
}

.companies-banners > img:hover {
    transform: scale(1.2);
}

.companies-banners-infos {
    display: flex;
    justify-content: center;
    gap: 5.5rem;
    width: 100%;
}

.companie-banner-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2.5rem;
}

.companie-banner > img {
    max-width: 531px;
    width: 100%;

}

.companie-banner-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 547px;
    width: 100%;
}

.companie-banner-text p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.01em;
    color: #292929;
    width: 100%;
}

.companie-banner-text a {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.01em;
    text-decoration-line: underline;
    color: #f65423;
    opacity: 0.75;
}

@media screen and (max-width: 1010px) {
    .companies-banners-infos {
        flex-wrap: wrap;
    }
    .companie-banner-info {
        align-items: center;
    }
    .companies-banners {
        flex-direction: column;
        gap: 3rem;
    }
}

@media screen and (max-width: 566px) {
    .container-companies {
        margin: 4% 0;
        gap: 3.5rem;
    }
}
