#footer {
    background: #f5f5f5;
    min-height: 88px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.12rem;
    text-align: center;
    line-height: 88px;
    color: #292929;
}

