#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.5rem;

    background: #0C0C0D;

    padding: 6.4rem 7rem 6rem;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;

    max-width: 90rem;
    width: 100%;

}

.footer-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-width: 25rem;
    width: 100%;

}

.footer-header-title {
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;

    line-height: 115%;

    color: #FFF;
}

.footer-header-description {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;

    line-height: 100%;

    color: #EEEEF1;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.footer-explore,
.footer-contact,
.footer-social {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    max-width: 17rem;
    width: 100%;

}

.footer-social {
    max-width: 26rem;

}

.footer-explore-title,
.footer-contact-title,
.footer-social-title {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;

    line-height: 150%;

    color: #9F9FA8;
}

.footer-explore-nav,
.footer-social-nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.footer-explore-nav-item,
.footer-contact-description,
.footer-social-nav-item {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;

    color: #FFF;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 90rem;
    width: 100%;
}

.footer-copyright-title {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;

    color: #FFF;
}

.footer-copyright-button {
    padding: 8px;

    width: 40px;
    height: 40px;

    background: #242428;
    border-radius: 200px;
}

.footer-copyright-button>svg {
    font-size: 1.2rem;


    color: #FFF;
}

.footer-copyright-button:hover {
    animation: moveUp 350ms ease-in-out infinite alternate;

}

@keyframes moveUp {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@media screen and (max-width: 1185px) {
    #footer {
        padding: 9%;
    }

    .footer-wrapper {
        flex-direction: column;
        gap: 5rem;

    }

    .footer-social-nav {
        overflow: scroll;
    }

    .footer-social-nav::-webkit-scrollbar {
        display: none;
    }
}