.nav-mobile {
    display: none;
}

@media screen and (max-width: 1105px) {
    .nav {
        display: none;
    }

    .nav-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem 3rem 1.2rem 3rem;
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 1px 0px #e2e5e9;
        height: 4rem;
    }

    .btn-menu-mobile {
        font-size: 2rem;
        color: #f65423;
    }

    .menu-mobile {
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 0;
        top: 4.1rem;
        left: 0;
        transition: 0.4s;
        overflow: hidden;
        background-color: #e2e5e9;
    }

    .menu-mobile.active {
        visibility: visible;
        overflow: auto;
        height: 100vh;
        z-index: 9;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        height: 80%;
        gap: 0;
    }

    .menu a {
        display: flex;
        align-items: center;
        padding: 1.8rem 1.8rem 1.8rem 5rem;
        width: 100%;
        height: 20%;
        transition: 0.4s;
        background-color: #ffffff;
        border-bottom: 0.2rem solid #e2e5e9;
        border-radius: 0.4rem;
        font-size: 200%;
    }

    .menu a:hover {
        transform: none;
        box-shadow: none;
    }

    .mobile-wrapper {
        display: flex;
        justify-content: center;
        gap: 1.2rem;
        position: relative;
    }

    .select-box-mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 105px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.01em;
        color: #72777b;
        position: absolute;
        bottom: 11.9rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9;
    }
    .options-container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 12.6rem;
        min-height: 100px;
        opacity: 0;
        transition: 0.4s;
        border-radius: 0px;
        border: 1px solid #e0e0e0;
        overflow: hidden;
        order: 1;
        height: 0;
        background-color: #ffffff;
        position: absolute;
        top: 3rem;
        /* left: 0.5rem; */
    }
    .options-container-mobile.active {
        height: 80px;
        opacity: 1;
        overflow-y: scroll;
        box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.25);
    }
    .options-container-mobile::-webkit-scrollbar {
        display: none;
    }
    .option-mobile {
        cursor: pointer;
    }
    .option-mobile:hover {
        color: rgb(255, 104, 58);
    }
    .option-mobile > label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
        padding: 12px 0;
        width: 110px;
        cursor: pointer;
    }
    .option-mobile label > span {
        width: 35%;
    }
    .radio-mobile {
        display: none;
    }
    .selected-mobile {
        border-radius: 4px;
        margin-bottom: 4px;
        color: #72777b;
        order: 0;
        padding: 12px 24px;
        position: relative;
        cursor: pointer;
    }

    .select-flag-mobile {
        background-image: url('../assets/nav-bar/custom-select-input/br.png');
        background-size: contain;
        background-repeat: no-repeat;

        position: absolute;
        height: 100%;
        width: 20px;
        top: 10.5px;
        left: 4px;
        transition: 0.4s;
    }

    .selected-mobile::after {
        content: '';
        background-image: url('../assets/nav-bar/custom-select-input/arrow.png');
        background-size: contain;
        background-repeat: no-repeat;

        position: absolute;
        height: 100%;
        width: 12px;
        top: 18px;
        right: 4px;
        transition: 0.4s;
    }

    .options-container-mobile.active + .selected-mobile::after {
        transform: rotateX(180deg);
        top: -18px;
    }
}
