#ready-to-expand {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    background-color: #ffffff;
}

.container-ready {
    justify-content: space-between;
    align-items: flex-start;
    min-height: 600px;
    gap: 2.3rem;
}

.ready-text {
    margin-top: 6rem;
    width: 45%;
}

.ready-banner {
    display: flex;
    align-self: flex-end;
}

.ready-banner > img {
    width: 100%;
}

.ready-text h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.01em;
    color: #292929;
}

.ready-text p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    color: #666666;
    margin: 1.5rem 0 2.5rem 0;
}

.ready-text span {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    color: #ffffff;
    padding: 12px 20px;
    background: #f65423;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.4s;
}

.ready-text span:hover {
    opacity: 0.75;
}

@media screen and (max-width: 1116px) {
    .container-ready {
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .ready-text {
        width: 100%;
        margin-top: 3rem;
    }
}
